body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

background-color: #242424;
/*background-color: #1f1f1f;*/
display: flex;
flex-direction: column;
height: 100vh;
overflow: hidden;
color: hsla(0,0%,100%,.87);
font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Apple Color Emoji,Helvetica,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;
font-size: 13px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.empty-state-illustration{
  margin: auto;
width: 220px;
height: 200px;
}
.empty-state-header {
  color: hsla(0,0%,100%,.87);
  text-align: center;
  font-size: 16px;
  margin: 8px 0;
}
.empty-state-body {
  cursor: pointer;
  color: hsla(0,0%,100%,.6);
  text-align: center;
  margin: 8px 0;
}

#editor .actions .plus_add_button {
  color: grey !important;
  text-decoration: none;
}
.plus_add_button {
  text-align: left;
  width: 100%;
  padding: 0 0 8px;
  color: grey;
  font-size: 14px;
  white-space: nowrap;
}

.plus_add_button:hover {
  color: #de4c4a !important;
}

.plus_add_button:hover .icon_add{
  color: #fff !important;
  background-color: #de4c4a;
}

.plus_add_button .icon_add {
  align-items: center;
  border-radius: 50%;
  color: #dd4b39;
  display: inline-flex;
  height: 17px;
  justify-content: center;
  margin-right: 11px;
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
  vertical-align: 7px;
  width: 17px;
}
#editor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  vertical-align: top;
  padding-bottom: 84px;
}
.empty-state-button {
  background-color: #de4c4a;

  display: block;
  font-size: 13px;
  line-height: 17px;
  margin: 20px auto 0;
  padding: 6px 12px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}

._7a2031d6:hover{
  color: hsla(0,0%,100%,0.87);
  background-color: #3d3d3d;
}
._09c23660 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-align: center;
}
._7a2031d6{
  min-width: 68px;
  background-color: #292929;
}
._7a2031d6 {
  padding: 0;
  font-size: normal;
  height: auto;
}
._7a2031d6 {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: inherit;
  border-radius: 5px;
  white-space: nowrap;
  font-family:  -apple-system,system-ui,"Segoe UI",Roboto,Noto,Oxygen-Sans,Ubuntu,Cantrell,"Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid transparent;
  transition-duration: .3s;
  transition-property: color,background-color;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  margin: 20px 12px 0;
}
._7a2031d6:active {
  transform: scale(.97);
  transition: transform .2s cubic-bezier(.02,1.505,.745,1.235);
}
._556714e1 > * {
  margin: 12px 0 0 12px;
}
._56a651f6 {
  width: auto;
}
.f9408a0e {
  box-sizing: border-box;
  list-style: none;
}
._7a2031d6._949f7858 {
  height: 32px;
  padding: 12px;
}
.view_content {
  /*padding-left: 55px;*/
  /*padding-right: 55px;*/
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
#content {
  background-color: #1f1f1f;
  border-color: #1f1f1f;

  min-height: 380px;
  height: 100vh;
  margin-left: 305px;
  transition: opacity .25s cubic-bezier(.4,0,.6,1);
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  overflow: hidden auto;
  outline: 0;
  transition: margin-left .25s cubic-bezier(.4,0,.2,1);
}
#content, #content_wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.items { /*Pour l'ul qui représente le board central avec la liste des taches et le formulaire*/
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  list-style-type: none;
}

ul {
  margin-bottom: 30px;
}

.task_list_item {
  border-bottom: 1px solid #f0f0f0;
  border-color: hsla(0,0%,100%,.1);
  background-color: #1f1f1f;
  width: 100%;
}
.task_list_item .task_list_item__body {
  display: flex;
  align-items: stretch;
  position: relative;
  padding: 0;
  cursor: pointer;
}
.task_list_item_body {
  flex: 1;
  padding: 8px 0;
  margin-right: 30px;
  flex-direction: column;
  margin-bottom: 3px;
}
.task_list_item .task_checkbox {
  margin: 8px 6px 0 -3px;
  z-index: 2;
}

.task_checkbox .task_checkbox__circle {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.task_checkbox {
  width: 24px;
  height: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: hsla(0,0%,100%,.87);
}
.task_checkbox__circle {
  background-color: transparent;
  background-color: hsla(0,0%,50.2%,.1);
  color: grey;

  height: 16px;
  width: 16px;
  border: 1px solid #dcdcdc;
  border-color: grey;
  border-radius: 50%;
  overflow: hidden;
}

.task_checkbox:hover svg {
  opacity: 1;
}

.task_checkbox svg {
  display: inline-block;
  border: 1px solid transparent;
  height: 16px;
  width: 16px;
  margin-left: -8px;
  transition: opacity .15s cubic-bezier(.4,0,1,1);
  margin-top: -8px;
  pointer-events: none;
  opacity: 0;
}
.task_description{
  margin: 0px;
  margin-left: 30px;
  color: grey;;
  flex-basis: 100%;
  font-size: 12px;
  word-wrap: break-word;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
li.manager form {
  padding: 0;
  margin: 0;
}

textarea{
  width: 100%;
  background-color: transparent;
  border: 1px solid transparent;
  color: hsla(0,0%,100%,.87);
}
textarea ::placeholder{
  color: hsla(0,0%,100%,.87);
}

#left_menu{
 border-color: transparent;
box-sizing: border-box;
width: 305px;
height: calc(100vh - 44px);
padding-top: 30px;
padding-left: 35px;
position: fixed;
left: 0;
transition: left .25s cubic-bezier(.4,0,.2,1);
overflow-x: hidden;
overflow-y: hidden;
background-color: #242424 !important;
-webkit-touch-callout: none !important;
-webkit-user-select: none !important;
-moz-user-select: none !important;
-ms-user-select: none !important;
user-select: none !important;
}

.left_menu_toggle {
  margin-left: -2px;
  margin-right: 4px;
}
#top_bar .left_control {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
button {
  font-family: inherit;
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
    margin-right: 0px;
    margin-left: 0px;
    
}
#top_bar{
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
  background-color: #282828 !important;
}

#top_bar {
  box-sizing: border-box;
height: 44px;
z-index: 200;
display: flex;
align-items: center;
justify-content: center;
flex-shrink: 0;
border-bottom: 1px solid transparent;
transition: height .2s ease-in;
padding-left: 42px;
padding-right: 42px;
}
#top_bar_inner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.top_bar_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 3px;
  color: #fff;
  height: 28px;
  min-width: 28px;
}

#quick_find .search_icon {
  color: hsla(0,0%,100%,.87);
}
#quick_find .search_icon {
  position: absolute;
  color: #fff;
  cursor: text;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 21px;
}
#quick_find .quick_find__input {
  color: hsla(0,0%,100%,.87);
  background: #363636;
}
quick_find [role="combobox"] {
  outline: 0;
  box-sizing: border-box;
}
#quick_find .quick_find__input {
  margin: 0;
  border: 0px solid transparent;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  color: #fff;
  padding: 5px 0 5px 35px;
  background: hsla(0,0%,100%,.2);
  transition: width .2s ease-in,background .15s cubic-bezier(.4,0,.2,1);
}
#quick_find, #quick_find [role="listbox"] {
  width: 198px !important;
}
#quick_find {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 6px;
  color: hsla(0,0%,100%,.87);
  background: #363636;
  height: 100%;
}
#quick_find ::placeholder{
  color: hsla(0,0%,100%,.87);
  background-color: #363636;
  opacity: 1;
  border: 0px;
}
#quick_find:not(.disabled):hover .quick_find__input {
  color: hsla(0,0%,100%,.87);
  background: #363636;
  border: 1px solid transparent;
}
#quick_find.active{
  width: 450px !important;
}
#activity_app, .history_item .content, .note_text, .project_header, .richtext_editor, .sync_error_text, .user_info, input, textarea {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

.task_editor__editing_area {
  background-color: var(--reactist-bg-default);
  border: 1px solid var(--reactist-divider-secondary);
  border-radius: var(--reactist-border-radius-large);
  padding: 10px 10px 0;
  cursor: text;
  border-radius: 10px;
  border: 1px solid #363636;
  width: 800px;
  display: flex;
  flex-direction: column;
}

.task_editor__input_fields {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 10px;
}

.task_editor__content_field {
  display: flex;
  align-items: flex-start;
  width: 100%;
  font-size: 14px;
  line-height: 21px;
  border: none;
  outline: none;
  word-break: break-word;
  background-color: transparent;

  color: white;
}

.task_editor__content_field {
  font-size: 14px;
  line-height: 21px;
  word-break: break-word;
}

.addTaskButtonsRow{
  display: flex;
  flex-direction: row;
}

small {
  color: grey;
  font-size: 12px;
  font-weight: 400;
}

.view_header .view_header__content {
  display: flex;
  width: 100%;
  padding-bottom: 8px;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color .3s;
  align-items: flex-start;
  word-break: break-word;
}

.view_header{
  background-color: #1f1f1f;
  display: flex;
  flex-shrink: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  /*padding-left: 55px;*/
  padding-right: 55px;
  padding-top: 16px;
}

